{% extends '@WorkouseReferralMarketingPlugin/shop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block subcontent %}
    <div class="ui segment">
        <h1 class="ui dividing header">
            {{ 'workouse_referral_marketing_plugin.ui.referral_marketing'|trans }}
            <div class="sub header">{{ 'workouse_referral_marketing_plugin.ui.add_reference'|trans }}</div>
        </h1>

        {{ form_start(form, {'action': path('workouse_referral_marketing_new'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <div class="ui two column grid">
            <div class="column">
                <a href="{{ path('workouse_referral_marketing_index') }}" class="ui large icon labeled button">
                    <i class="left arrow icon"></i> {{ 'sylius.ui.cancel'|trans }}
                </a>
            </div>
            <div class="right aligned column">
                <button type="submit" class="ui large icon labeled blue button">
                    <i class="icon plus"></i> {{ 'sylius.ui.add'|trans }}
                </button>
            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

    </div>
{% endblock %}
